<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Sidebar.css">
</head>
<body>
    <div class="sidebar-menu">
        <h3 class="sidebar-menu-title">Menu</h3>
        <ul class="sidebar-menu-list">
            <li class="active">
                <a href="../pages/Trang chủ/home.html">Trang chủ</a>
            </li>
            <li>
                <a href="../pages/Cơ sở hạ tầng/ha-tang.html">Cơ sở hạ tầng</a>
            </li>
        </ul>
    </div>
</body>
</html>
