    </div>
  </main>
  <footer class="site-footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> Mini CMS. <%= typeof t !== 'undefined' ? t.footer.copyright : 'Simple CMS for small business.' %></p>
    </div>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
